[Desktop Entry]
Icon=application-vnd.oasis.opendocument.spreadsheet
Name=masternoten.ods
Type=Link
URL[$e]=file:///nfs/cloud/docs/uni/masternoten.ods
X-KDE-LastOpenedWith=LibreOffice
